:root {
    --bg: #1a1a1a; 
    --bgSoft: #2c2c2c; 
    --text: #ffffff; 
    --textSoft: #b3b3b3; 
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);

}

a{
    color: inherit;
    text-decoration: none;
}