/* Styling for input fields */
.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #444;
    color: white;
    font-size: 1rem;
  }
  
  /* Styling for the textarea */
  .input[type="textarea"] {
    height: 120px;
  }
  
  /* Additional styles for links */
  a {
    text-decoration: underline;
  }
  